/* The first block (explenation) */
.rightBlockWrapper{
    margin-top: 5vw;
    height: min-content;
    clear: both;
    margin-right: 7vw;
    margin-left: 7vw;
}
.rightBlockImage{
    float:right;
    width: 42vw;
    height: 100%;
    border-radius: 25px;
}
.rightBlockExplenation{
    float: left;
    width: 38vw;
}

/* UI and Camera block */
.leftBlockWrapper{
    margin-top: 5vw;
    height: min-content;
    clear: both;
    margin-right: 7vw;
    margin-left: 3vw;
}
.leftBlockExplenation{
    float: right;
    width: 40vw;
}
.leftBlockImage{
    float:left;
    width: 42vw;
    height: 100%;
    border-radius: 25px;
}

/* L-System specific */
/* The second block (the game iteself) */
.gameBlock{
    margin-top: 5vw;
    height: min-content;
    clear: both;
    margin-right: 7vw;
    margin-left: 3vw;
}
.gameBlockText{
    float: left;
    width: 28.5vw;
}
.gameView{
    float: right;
    height: 70vh;
    width: 60vw;
    transform: translate(0.8%, 0%);
}